@import url('https://fonts.google.com/specimen/Rancho#standard-styles');
.navbar-menu {
	background-color: rgba(236, 236, 236, 0.9);
	height: 60px;
}
.nav-item {
	list-style-type: none;
	margin-left: 18px;
	padding: 0;
}
.nav-item-drop {
	list-style-type: none;
	margin-left: -25px !important;
	padding: 0;	
}
.profile{
	margin-left: -180px;
}
.subpages {
	width: 50%;
}
html, body {
	height: 100%;
	width: 100%;	
	font-family: "Rancho";
	font-size: 18px;
}
.content {
	margin: 15px;
}
#color_grey{    
    color:darkgrey;
}
.big-banner {
	background-image: url("../images/banner_img.png");	
	background-size: cover;
	height: 100%;
}
.jumbotron-caption {
	position: absolute;
	top:  60%;
	left: 2%;
	right: 2%;
	background: rgba(236, 236, 236, 0.8) !important;
}
.jumbotron-caption h1 {
	font-size: 280%;
	text-transform: uppercase;
	color: #0C6969;
	text-align: left;	
	margin-left: 30px;	
	text-shadow: 2px 2px 2px #000000;
}
.jumbotron-caption h3 {
	font-size: 180%;
	color: #E6830B;
	text-align: left;
	margin-left: 30px;	
	text-shadow: 1px 1px 1px #000000;
}
.tech-btn {
    position: relative;
    display: inline-block;
}
.tech-btn .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    margin-left: 7%;
}
.tech-btn:hover .img-top {
    display: inline;
}
footer {
	background-color: #4F4E4E;
	color: #F7F7F7;
}
/*Media Query*/
@media (max-width: 992px) {
	.jumbotron-caption {
		top: 20%;
	}
	.jumbotron-caption h1 {
		font-size: 250%;
	}
	.jumbotron-caption h3 {
		font-size: 160%;
	}
	.jumbotron-caption .btn {
		font-size: 120%;
	}
}
@media (max-width: 768px) {
	.jumbotron-caption {
		top: 20%;
	}
	.jumbotron-caption h1 {
		font-size: 220%;
	}
	.jumbotron-caption h3 {
		font-size: 140%;
		padding-bottom: 0.2rem;
	}
	.jumbotron-caption .btn {
		font-size: 95%;
		padding: 8px 14px;
	}
}
@media (max-width: 576px) {
	.jumbotron-caption {
		top: 10%;
	}
	.jumbotron-caption h1 {
		font-size: 150%;
	}
	.jumbotron-caption h3 {
		font-size: 110%;
	}
	.jumbotron-caption .btn {
		font-size: 90%;
		padding: 4px 8px;
	}
}

/* Bootstrap 4 text input with search icon */

.form-control, .form-select {
    border-color: #dce0eb;
    color: #26292c;
    font-size: 15px;
    min-height: 42px;
    padding: 6px 15px;
}
.has-search .form-control {
    padding-left: 2.375rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    width: 300px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.has-search .form-control-feedback {
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.navbar-expand .navbar-nav {
    flex-direction: row;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.d-none {
    display: none!important;
}
@media only screen and (max-width: 991.98px)
.circle-bar {
    margin: 0 15px 0 0;
}

@media only screen and (max-width: 991.98px)
.dash-widget {
    flex-direction: unset;
    text-align: left;
}
.dash-widget {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding: 20px;
    margin-bottom: 30px;
}
.dash-board-list.blue .dash-widget {
    background-color: rgba(0,84,254, 0.07);
}
.dash-board-list.blue .icon-col {
    background-color: rgba(0,84,254,0.07);
}
.dash-board-list.yellow .dash-widget {
    background-color: rgb(249,206,35,0.2);
}
.dash-board-list.yellow .icon-col {
    background-color: rgba(249,206,35,0.2);
}
.dash-board-list.red .dash-widget {
    background-color: rgb(247, 0, 4,0.15);
}
.dash-board-list.red .icon-col {
    background-color: rgba(247, 0, 4,0.15);
}
.dash-board-list .icon-col {
    font-size: 22px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dash-widget-info {
	padding-left: 20px;
}
.card {
    border: 1px solid #e3e8eb;
    margin-bottom: 1.875rem;
    border-radius: 0;
}
.card-title {
    margin-bottom: 15px;
}
@media only screen and (max-width: 575.98px)
.card-body {
    padding: 1.25rem;
}
.card-table .card-body {
    padding: 0;
}
.table {
    color: #26292c;
    max-width: 100%;
    width: 100%;
}
.card-table .card-body .table > thead > tr > th {
    border-top: 0;
}
.card-table .table tr td:first-child, .card-table .table tr th:first-child {
    padding-left: 1.5rem;
}
.card-table .table td, .card-table .table th {
	border-top: 1px solid #e2e5e8;
    padding: 1rem 0.75rem;
}
.table.table-center td, .table.table-center th {
    vertical-align: middle;
}
@media only screen and (max-width: 767.98px)
.table > thead > tr > th {
    font-size: 13px;
}
.table thead tr th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.table > thead > tr > th {
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
table.table td h2.table-avatar {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}
table.table td h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
table.table td h2 a {
    color: #26292c;
}
table.table td h2 span {
    color: #888;
    display: block;
    font-size: 13x;
    margin-top: 3px;
}
.avatar-sm {
    width: 2.5rem;
    height: 2.5rem;
}
.avatar {
    position: relative;
    display: inline-block;
}
.avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn {
    letter-spacing: 0.02em;
}
.submit-section {
    padding-right: 20px;
    padding-left: 30px;
}
.bg-info-light {
    background-color: rgba(2, 182, 179,0.12) !important;
    color: #1db9aa !important;
}
.accept {
    background-color: #04AE1B;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 10px;
}
.pending {
    background-color: #FBA20A;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 10px;
}
.decline {
    background-color: #FA7E6B;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 10px;
}
.closed {
    background-color: #757575;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 10px;
}
@media only screen and (max-width: 767.98px)
.breadcrumb-bar {
    height: auto;
}
.breadcrumb-bar {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e3e8eb;
    padding: 15px 15px;
}
.page-breadcrumb ol {
    background-color: transparent;
    font-size: 16px;
    margin-bottom: 0;
    padding: 0px;
}
.page-breadcrumb .breadcrumb-item .breadcrumb-item:before {
    font-size: 16px;
}
.section-title {
  padding-top: 20px;
  padding-bottom: 10px;
}
.section-title h4 {
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-title h4::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #696666;
    box-shadow: 5px 5px 5px;
    margin: 4px 10px;
}
.section-title h5 {
  padding-top: 10px;
  line-height: 1px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-weight: bolder;
}
.section-title h5::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #696666;
    box-shadow: 5px 5px 5px;
    margin: 4px 10px;
}
@media only screen and (max-width: 1399px)
.row.row-grid {
    margin-left: -8px;
    margin-right: -8px;
}
@media only screen and (max-width: 1199px)
.row.row-grid>div {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
@media only screen and (max-width: 1399px)
.row.row-grid>div {
    padding-right: 8px;
    padding-left: 8px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.widget-profile {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.card {
    border: 1px solid #e3e8eb;
    margin-bottom: 1.875rem;
    border-radius: 0;
}
.card-body {
    padding: 1.5rem;
}
.profile-widget {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 0;
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    padding: 0;
}
.pro-widget-content {
    border-bottom: 1px solid #f0f0f0;
    text-align: left;
}
.widget-profile .profile-info-widget .mentee-img {
    display: inline-block;
    margin: 0 0 15px;
    max-width: 60%;
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 50%;
    align-items: center;
}
.profile-info-widget .mentee-img {
    margin-right: 15px;
}
input, button, a {
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
a {
    color: #26292c;
}
.profile-det-info {
    overflow: hidden;
}
.mentee-details h5 {
    color: #757575;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-avatar {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 70%;
    border-radius: 0;
}
.pro-content {
    padding: 15px;
}

@media only screen and (max-width: 767.98px)
.chat-window .chat-scroll .user-name, .pro-content .title {
    font-size: 15px;
}
.pro-content .title, .profile-det-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.profile-widget p.speciality {
    font-size: 14px;
    color: #757575;
    margin-bottom: 5px;
    min-height: 40px;
}
.profile-widget .rating {
    color: #757575;
    font-size: 14px;
    margin-bottom: 15px;
}
.rating {
    list-style: none;
    margin: 0 0 7px;
    padding: 0;
    width: 100%;
}
.rating i.filled {
    color: #febe42;
}
.profile-widget .rating i {
    font-size: 14px;
}
.profile-widget .verified {
    color: #28a745;
    margin-left: 3px;
}	
.available-info {
    font-size: 13px;
    color: #757575;
    font-weight: 400;
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}
.sort-by {
    float: right;
}
.sort-title {
    font-size: 16px;
    margin-right: 10px;
}
.list-group{
    max-height: 150px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.list-group-item {
    padding: 2px 2px 0 30px;
}
.mentor-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}
.user-info-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mentor-img {
    -ms-flex: 0 0 145px;
    flex: 0 0 145px;
    margin-right: 20px;
    width: 145px;
}
.mentor-widget .usr-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
}
.mentor-type {
    font-size: 14px;
    color: #757575;
    margin-bottom: 15px;
}
.mentor-details {
    margin-bottom: 15px;
}
.user-info-right {
    margin-left: auto;
    -ms-flex: 0 0 210px;
    flex: 0 0 210px;
    max-width: 210px;
}
.user-infos {
    margin-bottom: 15px;
}
.user-infos li {
    list-style: none;
}
.user-info-cont .action a {
    margin-left: 5px;
}
.filter-widget h6 {
    margin: 10px 0 0 0;
}

/*-----------------
    Schedule Timings
-----------------------*/
.tab-content {
    padding-top: 30px;
}
.card-title {
    margin-bottom: 15px;
}
.tab-content.schedule-cont .card-title {
    margin-bottom: 10px;
}
.user-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.user-slot-list {
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin: 10px 10px 0 0;
    padding: 6px 15px;
}
.user-slot-list a {
    color: #e48784;
    display: inline-block;
    margin-left: 5px;
}
.user-slot-list a:hover {
    color: #fff;
}
.nav-tabs {
    border-bottom: 1px solid #dce0eb;
}
.nav-tabs.nav-justified > li > a {
    border-radius: 0;
    margin-bottom: 0;
}
.nav-tabs > li > a {
    margin-right: 0;
    color: #555;
    border-radius: 0;
}
.schedule-nav .nav-tabs {
    border: 0 !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.schedule-nav .nav-tabs li {
    margin: 5px 15px 5px 0; 
    display: inline-block;
}
.schedule-nav .nav-tabs li:last-child {
    margin-right: 0;
}
.schedule-nav .nav-tabs > li > a {
    border: 1px solid #dcddea;
    border-radius: 4px;
    padding: 6px 15px;
    font-size: 16px;
    text-transform: uppercase;
}
.schedule-nav .nav-tabs li a.active {
    background: #1e88e5;
    border: 1px solid #1e88e5 !important;
    color: #fff;
}
.hours-info .form-control {
    min-height: auto;
}
.hours-info .btn.btn-danger.trash {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 38px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}
.edit-link {
    color: #1e88e5;
    font-size: 16px;
    margin-top: 4px;
}
@media only screen and (max-width: 575.98px)
.edit-link {
    font-size: 14px;
    margin-top: 2px;
}
@media only screen and (max-width: 767.98px)
.nav-tabs .nav-item {
    margin-bottom: 0;
}
.schedule-widget {
    border-radius: 4px;
    min-height: 100px;
}
.schedule-header {
    border-bottom: 1px solid #f0f0f0;
    border-radius: 4px 4px 0 0;
    padding: 10px 20px;
}
.schedule-cont {
    padding: 20px;
}
@media only screen and (max-width: 767.98px)
.nav-tabs.nav-justified {
    border-bottom: 1px solid #ddd;
}
.schedule-nav .nav-tabs {
    border: 0 !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media only screen and (max-width: 767.98px)
.nav-tabs {
    border-bottom: 0;
    position: relative;
    background-color: #fff;
    padding: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
@media only screen and (max-width: 479px)
.schedule-nav .nav-tabs li {
    display: block;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0;
}
/*-----------------
    Forum
-----------------------*/
.post-content-container {
    padding: 0 30px 0 50px;
    text-align: justify;
}

.be-comment-block {
    margin-bottom: 50px !important;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #D9D7D7;
}

.comments-title {
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-action {
}

.be-comment-time {
    text-align: right;
    font-size: 14px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 14px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group textarea.form-input {
    width: 100%;
}
.form-group select {
    width: 100%;
}
.filter-widget textarea {
    resize: none;
    padding: 5px 5px 5px 10px;
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}
.align-bottom {
    position: absolute;
    bottom: 2px;
    right: 15px;
}
.align-bottom-textarea {
    position: absolute;
    bottom: 20px;
    right: 7px;
}